.container {
  display: flex;
  align-items: center;
  border: 1px solid #f2f4f5;
  border-radius: 5px;
  overflow: hidden;
}

.button {
  width: 48px;
  height: 48px;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
}

.qtyCount {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  padding: 0 10px;
}